@model Microsoft.AspNetCore.Identity.IdentityRole
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Dashboard v2</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container-fluid">
        <h3>Редактирование Роли @Model.Name</h3>

        <div class="card">
            <div class="card-body">
                <form role="form" class="text-start" method="post">
                    <div class="input-group input-group-outline my-3 focused is-focused">
                        <input type="hidden" value="@Model.Id" name="Id">
                        <label class="form-label">Роль:</label>
                        <input type="text" class="form-control" name="name" value="@Model.Name">
                    </div>
                    <div style="display: flex;">
                        <div style="width: 45%; margin: 5rem">
                            <button class="btn bg-gradient-success w-100 toast-btn" asp-controller="Roles" asp-action="SubmitEdit">Сохранить</button>
                        </div>
                        <div style="width: 45%; margin: 5rem">
                            <button class="btn bg-gradient-danger w-100 toast-btn" asp-controller="Roles" asp-action="Cansel">Отмена</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>