<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Dashboard v2</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container-fluid">
        <h3>Создание Пользователя</h3>

        <div class="card">
            <div class="card-body">

                <form role="form" class="text-start" method="post">
                    <div class="input-group input-group-outline my-3">
                        <div class="form-row" style="width: 100%">
                            <label>UserName:</label>
                            <input type="text" class="form-control" name="UserName" placeholder="UserName" value="" autocomplete="off">
                            <input type="hidden" name="Lockout" value="false">
                        </div>
                    </div>

                    <div class="input-group input-group-outline my-3">
                        <div class="form-row" style="width: 100%">
                            <label>Email:</label>
                            <input type="email" class="form-control" name="Email" placeholder="Email" value="" autocomplete="off" required>
                        </div>
                    </div>
                    <div class="input-group input-group-outline mb-3">
                        <div class="form-row" style="width: 100%">
                            <label>PhoneNumber</label>
                            <input type="text" class="form-control" name="PhoneNumber" placeholder="PhoneNumber" value="" autocomplete="off">
                        </div>
                    </div>
                    <div class="input-group input-group-outline mb-3">
                        <div class="form-row" style="width: 100%">
                            <label>Password</label>
                            <input type="password" class="form-control" name="PasswordHash" placeholder="Password" value="" autocomplete="off" required minlength="8">
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div style="width: 45%; margin: 5rem">
                            <button class="btn bg-gradient-success w-100 toast-btn" asp-controller="Users" asp-action="Create">Сохранить</button>
                        </div>
                        <div style="width: 45%; margin: 5rem">
                            <button class="btn bg-gradient-danger w-100 toast-btn" asp-controller="Users" asp-action="Cansel">Отмена</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>